body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    transition: background-color 0.3s, color 0.3s;
    box-sizing: border-box;
}

#toggleButton {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    height: 40px;
}

.dark-mode {
    background-color: #333;
    color: #fff;
}

.dark-mode #output {
    border-color: #555;
}

.dark-mode #toggleButton {
    background-color: #555;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
}

footer {
    margin-top: 50px;
    text-align: center;
    bottom: 10px;
}

li {
    color: #444;
}

.dark-mode li {
    color: #c2c2c2
}

#dropdowns select {
    border-radius: 25px;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s ease;
}