body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    background: linear-gradient(to right, #a7c7e7, #e1e8f0); /* Soft blue to light gray */
    transition: background-color 0.3s, color 0.3s;
    box-sizing: border-box;
}

#toggleButton {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    height: 40px;
}

a {
  color: #1abc9c; /* Teal / Cyan */
  text-decoration: none; /* Optional: remove underline */
}

a:hover {
  color: #16a085; /* Slightly darker teal on hover */
}

#content {
    margin-top: 10px;
}

.dark-mode {
  background: linear-gradient(to right, #2c3e50, #1c2833);
  color: #fff;
}

.dark-mode #heading {
    color: #fff;
}

.dark-mode #output {
    border-color: #555;
}

.dark-mode #toggleButton {
    background-color: #555;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
    background: linear-gradient(135deg, #020617, #1c2833); /* A dark gradient for the navbar */

}

footer {
    margin-top: 50px;
    text-align: center;
    bottom: 10px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #1c2833 100%);

}

li {
    color: #444;
    
}

.dark-mode li {
    color: #c2c2c2
}

#dropdowns select {
    border-radius: 25px;
    border: #0000001a solid 2px;
    padding: 10px;
    cursor: pointer;
    margin: 8px;
    transition: background-color 0.3s ease;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    color: black;
    /* Shadow properties */
}

#dropdowns select:hover {
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
    /* Shadow on hover */
}

.tooltip-target {
    display: inline-block;
    padding: 10px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.tooltip {
    position: absolute;
    background-color: black;
    color: #fff;
    border-radius: 5px;
    padding: 5px;
    visibility: hidden; /* Initially hidden */
    transition: opacity 0.3s;
    pointer-events: none; /* Prevent the tooltip from interfering with mouse events */
}
